.PaginaAdm{ display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
   font-family: Arial, Helvetica, sans-serif;
   background-color: black;
   width: 50%;
   margin-left: auto;
   margin-right: auto;
   padding: 150px;
   border-radius: 20px;
   box-shadow: #ff0000 0px 0px 10px;

        table{
        background-color: white;
        height: auto;
        width: 25%;
        border-radius: 8px;
    }
    thead{
        background-color: rgb(161, 34, 34);
        color: white;
        tr{
            height: 40px;

            th{
            padding: 10px;
            }
        }
       
    }
    h1,h2{
        color: white;
    }
}
td{
    text-align: center;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}

.botao {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    

    button {
      background: rgb(161, 34, 34);
      color: #ffffff;
      font-weight: 900;
      border: none;
      padding: 10px 26px;
      border-radius: 8px;
      cursor: pointer;
      box-shadow: 0px 0px 3px  rgba(0,0,0,0.25);
      transition: background 0.3s;
      outline: none;
      

      &:hover {
         background: rgb(255, 0, 0);
        color: rgb(255, 255, 255);
        scale: 1.05;
        transition: 200ms;
    }
    }
  }
  .contador{
    background-color: #131212;
    width: 30%;
    text-align: center;
    border-radius: 15px;
    box-shadow: #ff0000 0px 0px 10px;
    h2{
        color: #ffffff;
    }
  }