body{
  background-image: url('src/assets/images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.auth-container {
  position: relative;
  width: 90%;
  max-width: 1100px;
  height: 620px;
  margin: 80px auto;
  border-radius: 30px;
  overflow: hidden;
  background: #ffffff;
  box-shadow: 0px 0px 50px rgb(255, 0, 0);
  display: flex;
}


.forms-area {
  width: 42.9%;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 39px;
  transition: transform 0.8s ease;
  z-index: 2;
}


.painel-animado {
  width: 50%;
  height: 100%;
  background: rgba(0, 0, 0, 0.966);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.8s ease;
  z-index: 3;
  border-radius: 30px;
}

.painel-conteudo {
  text-align: center;
  width: 80%;
  max-width: 400px;
}


.auth-container.modo-registrar .forms-area {
  transform: translateX(0%);
}

.auth-container.modo-registrar .painel-animado {
  transform: translateX(0%);
}


.auth-container.modo-login .forms-area {
  transform: translateX(100%);
}

.auth-container.modo-login .painel-animado {
  transform: translateX(-100%);
}


.switch-btn {
  background: rgb(255, 255, 255);
  color: rgb(255, 0, 0);
  border: none;
  border-radius: 8px;
  padding: 10px 24px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.25);
  transition: 0.3s;

  &:hover {
    background: #ff0000;
    color:white
  }
}

.auth-form {
  text-align: left;
  width: 100%;
  max-width: 360px;

  h1 {
    font-size: 36px;
    margin-bottom: 8px;
  }

  h2 {
    font-size: 22px;
    margin-bottom: 20px;
  }

  label {
    display: block;
    margin-top: 8px;
    font-weight: 600;
  }

  input {
    width: 100%;
    padding: 10px 12px;
    border-radius: 6px;
    border: 3px solid #000000;
    margin-top: 6px;
    font-size: 15px;
    box-sizing: border-box;
  }

  .botao {
    margin-top: 24px;
    display: flex;
    justify-content: center;

    button {
      background: rgb(161, 34, 34);
      color: #ffffff;
      font-weight: 900;
      border: none;
      padding: 10px 26px;
      border-radius: 8px;
      cursor: pointer;
      box-shadow: 0px 0px 3px  rgba(0,0,0,0.25);
      transition: background 0.3s;

      &:hover {
         background: rgb(255, 0, 0);
        color: rgb(255, 255, 255);
      }
    }
  }
}

@media (max-width: 760px) {

  body{
     background-image: url('src/assets/images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  }
  .auth-container {
    flex-direction: column;
    height: auto;
    
  }

  .forms-area {
    width: 90%;
    height: auto;
    transform: none !important;
  }
  .painel-animado{
    width: 100%;
    height: auto;
    transform: none !important;
  }

  .painel-conteudo {
    padding: 40px 0;
  }
}
